@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/CustomFont.otf');
}

html {
    scroll-behavior: smooth !important;
}

@keyframes animated-hero {
    from {
        opacity: 0;
        transform: translateY(25px); 
    }
    to {
        opacity: 1;
        transform: translateY(0px); 
    }
}

.animated-div { 
    animation-name: animated-hero;
    animation-duration: 2s;
}

.animated-div.delayed {
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
